h1 {
	/*color: #ff00ff;*/
	color: black;
/*	border-color: purple;
	border-width: 5px;
	border-style: solid;*/

	border: 2px solid purple;
}

li {
	color: green;
}	

h4 {
	background: rgb(255,100,80);
}

body {
	background: pink;
	/*background: url(https://pre00.deviantart.net/e13a/th/pre/i/2005/293/3/b/wood_grain_by_hatch1921.jpg);*/
	background-repeat: no-repeat;
	background-size: cover;
}